# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. RStudio
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientist include:
1. ggplot
2. GGally
3. Pandas
4. Matplotlib
5. NymPy

|Data Science Tools|
|------------------|
|GitHub|
|Jupyter Notebook|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

## For whatever reason it does not want to output 17. This was a problem in the lesson as well.
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

# This will convert 200 minutes to hours by dividing by 60
200/60

**Objectives:**
- Python
- R
- SQL

## Author
Ivy